#tableContainer{
  background-color: white;
  border-radius: 0 0 var(--radius, 4px) var(--radius, 4px);
  padding-bottom: var(--component-distance, 16px);
  .pagination{
    margin-top: var(--base-distance, 8px);
    text-align: center;
  }
  .editIcon{
    color: #999;
    cursor: pointer;
  }
  .circle{
    display: inline-block;
    background-color: #28a745;
    width: var(--base-distance, 8px);
    height: var(--base-distance, 8px);
    border-radius: 50px;
    margin-right: var(--base-distance, 8px);
  }
  .stateText{
    color: #28a745;
  }
  .split{
    display: flex;
  }
  .column{
    .row{
      +.row{
        margin-top: var(--base-distance, 8px);
      }
    }
  }
}
