#tableFilter{
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  padding: 20px 0;
  margin-bottom: 20px;
  .filterItem{
    display: flex;
    align-items: center;
    margin: 8px;
    label{
      margin-right: 8px;
    }
  }
  .submitBotton{
    margin: 8px;
  }
}
