.ice-layout {
  .ice-design-layout-aside {
    .next-nav,
    .next-nav-sub-nav-item {
      background: transparent;
      .next-menu-item.next-nav-item{
        border-left: 3px solid transparent;
        border-radius: 4px;
        position: relative;
        transform: all 0.6s ease;
      }
      .active{
        &.next-selected{
          border-left-color: $color-brand1-6;
          border-right-color: $color-brand1-6;
          &::before{
            content: '';
            width: var(--base-distance, 8px);
            height: 3px;
            border-radius: 0 var(--radius, 4px) var(--radius, 4px) 0;
            background-color: $color-brand1-6;
            left: 0;
            top: 18px;
            position: absolute;
          }
          &::after{
            content: '';
            width: var(--base-distance, 8px);
            height: 3px;
            border-radius: var(--radius, 4px) 0 0 var(--radius, 4px);
            background-color: $color-brand1-6;
            right: 0;
            top: 18px;
            position: absolute;
          }
        }
        &>.next-menu-item.next-nav-item{
          border-left-color: $color-brand1-6;
          &::before{
            content: '';
            width: var(--base-distance, 8px);
            height: 3px;
            border-radius: 0 var(--radius, 4px) var(--radius, 4px) 0;
            background-color: $color-brand1-6;
            left: 0;
            top: 18px;
            position: absolute;
          }
        }
      }
    }
    .next-nav .next-nav-item.next-menu-item {
      background: transparent;
      color: white;

      .next-menu-item-text{
        display: flex;
        align-items: center;
        .nav.icon{
          margin-right: var(--base-distance, 8px);
        }
      }
    }
    .next-nav .next-menu-sub-menu .next-menu-item {
      transition: none;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      border-radius: 4px;
      transform: all 0.6s ease;
      &.next-selected{
        position: relative;
        &::before{
          content: '';
          width: var(--base-distance, 8px);
          height: 3px;
          border-radius: 0 var(--radius, 4px) var(--radius, 4px) 0;
          background-color: $color-brand1-6;
          left: 0;
          top: 18px;
          position: absolute;
        }
        &::after{
          content: '';
          width: var(--base-distance, 8px);
          height: 3px;
          border-radius: var(--radius, 4px) 0 0 var(--radius, 4px);
          background-color: $color-brand1-6;
          right: 0;
          top: 18px;
          position: absolute;
        }
      }

      &.next-selected,
      &:hover {
        border-left-color: $color-brand1-6;
        border-right-color: $color-brand1-6;
      }
    }

    .menu-btn {
      position: fixed;
      left: 0;
      top: 82px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 0 6px 6px 0;
      color: #fff;
      background: #2077ff;
      text-align: center;
      cursor: pointer;
      z-index: 9;
      text-decoration: none;
      &:hover {
        color: #e7e7e7;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .ice-layout {
    .ice-design-layout-aside {
      position: fixed;
      left: -256px;
      top: 0px;
      bottom: 0;
      padding: 0 20px;
      background: #2e323e !important;
      z-index: 9999;
    }

    .open-drawer {
      transform: translateX(256px);
      .logo {
        width: 200px;
        margin: 20px 0;
        text-align: center;
      }
    }
  }
}
