:root {
  --background-color-dark: #262626;
  --background-color-dark-2: #595959;
  --background-color-light: #fafafa;
  --background-color-light-2: #f5f5f5;
  --brand-primary: #13c2c2;
  --brand-primary-tap: #08979c;
  --brand-primary-ondark: #e6fffb;

  --radius: 4px;
  --base-distance: 8px;
  --component-distance: 16px;
}

.fit-content{
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

#CONTAINER-CC-TOOLBAR{
  top: 8px;
  right: 200px;
}

.spacer{
  flex: 1;
}

.icon{
  width: 2rem;
  height: 2rem;
}

.pointer{
  cursor: pointer;
}
